<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/abuharsky/radio3/master/radio3-rc-50.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://pp.vk.me/c607516/v607516478/10eb/wRxb6h6V_qc.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://pp.vk.me/c607516/v607516478/10eb/wRxb6h6V_qc.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ru.nootek.radio</string>
				<key>bundle-version</key>
				<string>3.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Radio-rc</string>
				<key>title</key>
				<string>Radio-rc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
